.topbar {
    background: #78c2ad;
    color: #fff;
    min-height: 4px;
}

@media (min-width: 770px){
    .top-design {
        background: #78c2ad;
        z-index: 1;
        display: inline;
        position: relative;
        left: 10px;
        float: right;
        display: block;
        border-radius: 0 0 0 50px;
        width: 120vh;
        height:50px;
    }
}


.breadcrumb{
    margin: 5px;
}

/* stud-profile */
.stud-profile{
   margin-top: 50px;
}

.box-shadow{
    box-shadow: 8px 8px 40px rgb(0 0 0 / 15%), inset 1px 1px 3px rgb(255 255 255 / 50%), inset -5px -5px 20px rgb(0 0 0 / 5%);
}

.card-header{
    background-color:#78c2ad;
    color: #fff;
    font-size: 20px;
}
.card-body{
        padding: 20px;
        border: 1px solid rgb(209, 212, 223);
        background-size: auto 216px;
}

table{
    width: 100%;
    font-size: 15px;
    color: rgb(6, 92, 63);
}
tbody{
        display: table-row-group;
        vertical-align: middle;
       
}
td {
    
    display: table-cell;
    vertical-align: inherit;
}
.tab-heading{
    width: 202px !important;
}
table td{
    padding: 8px 8px !important;
}


/* subject */

#pattern-style {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 15px;
    margin: 100px 45px 45px 200px;
    text-align: left;
    border-collapse: collapse;
}